/* all import are decleared here*/
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*root colors that here used on the page*/
@theme {
  --color-primary-color: #fff0be;
  --color-secondary-color: #716e5e;
  --color-light-sec-color: #716e5e;
  --animate-fadeIn01: fadeIn01 1s ease-in-out;
  --animate-fadeIn02: fadeIn02 1s 1s ease-in-out forwards;
  --animate-slant: slant 1s 0.5s ease-in-out forwards;
}

/*--keyframe for the 1st fade in---*/
@keyframes fadeIn01 {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
/*--keyframe for the 2nd fade in---*/
@keyframes fadeIn02 {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
/*--keyframe for the slant---*/
@keyframes slant {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(10deg);
  }
}
* {
  font-family: 'Playfair', serif;
}
